.item {
  margin: 8px 0 16px 8px;
  padding: 4px;
  /* width: fit-content; */
  background: rgba(0, 0, 0, 0.3);
  line-height: 8px;
}

.avatar {
  height: 64px;
}

.text {
  display: inline;
}

.like_btn {
  width: fit-content;
  float: right;
}
