.wrapper {
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 64px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 8px;
  color: #fff;
  margin: 0 auto;
  width: 1200px;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}
